* {
  box-sizing: border-box;
}
p {
  text-align: center;
}

.spacing {
  width: 30%;
  margin: 1.66%;
}
.menu {
  padding: 0 25%;
}
.page-header {
  box-shadow: 5px 5px 7px gray;
  margin: 20px 0px;
  text-align: center;
}
